*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #2c3e50;
    --primary-color-darker: #1d2834;
    --secondary-color: #1ABC9C;
    --secondary-color-darker:#169c81;
}

/* Global styles */
body{
    margin: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.text-upper {
    text-transform: uppercase;
}

.text-white{
    color: white;
}

.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

.text-center{
    text-align: center;
}

.text-lg{
    font-size: 4rem;
    margin-bottom: 0;
}
.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-primary-darker{
    background-color: var(--primary-color-darker);
}

.section-title{
    padding-top: 3rem;
}
.section-title .icons{
    margin-top: 0;
    margin-bottom: 3rem;
}

main section {

    margin-bottom: 3rem;
}




/* Header styles */
#navbar {
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-weight: bold;
    transition: all .1s ease;
    z-index: 2;
}
#nav-name {
    font-size: 1.7rem;
}

#navbar ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

#navbar a{
    padding: 1rem 1rem;
    border-radius: 10px;
}

#navbar a:hover{
    color: var(--secondary-color);
}

.active{
    background-color: var(--secondary-color);
}


#hero{
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    padding-top: 5rem;
}

#hero img{
    display: block;
    width: 20%;
    max-width: 500px;
    height: auto;
    margin: auto;
}

#hero-title-name{
    font-size: 4rem;
    margin-top: 1.2rem;
}

#hero-text{
    font-size: 1rem;
    margin-top: 1rem;
}

.icons{
    margin-top: 2rem;
}
/* Portfolio section */
#portfolio {
    max-height: 100vh;
    margin-bottom: 10rem;
    position: relative;
}

.portfolio-big-card{
    background-color: rgba(197, 197, 197, 0.855);
    padding: 5rem;
    position: absolute;
    width: 70vw;
    height: 80vh;
    text-align: center;
    margin: 0 auto;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#close-mark{
    border-radius: 10%;
    font-size: 3rem;
    position: absolute;
    top:-5%;
    right:-1%;
}

.portfolio-big-card img{
    width: 200px;
    margin: 0 auto;
}




#portfolio-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin:  auto;
}

#portfolio-grid img{
    max-width: 100%;
    border-radius: 10px;

}

.portfolio-card{
    cursor: pointer;
    position: relative;
}

.portfolio-card img{
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    font-size: 8rem;
    color: var(--primary-color-darker);
    transition: .5s ease;
    opacity: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.portfolio-card:hover img {
    opacity: 0.3;
  }
  
.portfolio-card:hover .middle {
    opacity: 1;
  }

/* About section */
#about {
    width: 100%;
    max-height: 75vh;
}

#about-text{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 70%;
}

#about-text p{
   text-align: left;
   width: 40%;
   font-weight: 300;
   font-size: 1.1rem;
}

#btn-download{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem 2.1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 2rem 0;
}

#btn-download:hover{
    background-color: white;
    color: var(--secondary-color-darker);
    transition: all .5s ease-in-out;
}

/* Contact section */

#contact-form {
    width: 50%;
    margin: auto;
}
#contact-form label{
    font-size: 1.2rem;
    color: gray;
}
#contact-form input{
    height: 2rem;
    width: 100%;
    margin: .5rem 0 2rem 0;
    border-bottom: 1px solid gray;
}

#contact-form textarea{
    width: 100%;
    margin: .5rem 0 2rem 0;
    border-bottom: 1px solid gray;
}

#contact-button{
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 1px solid white;
    padding: 1rem 2.1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-bottom: 3rem;
    color: white;
}

#contact-button:hover{
    background-color:var(--secondary-color-darker);
    transition: all .5s ease-in-out;
}

/* Footer section */
#footer-info{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}

.footer-section {
    width: 30%;

}

#footer-icons{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}


#footer-icons i{
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
}
#footer-icons i:hover{
    color: var(--secondary-color);
}


#footer-copy{
    padding: .7rem 0;
    margin-right: 0;
}

.collapse{
    display: none;
}

#menu-hamburger{
   display: none;
}




@media only screen and (max-width: 600px) {

#menu-hamburger{
        font-size: 2rem;
        display: block;
    }
    
 #menu-mobile ul{
        width: 100%;
        position: absolute;
        top: 10;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease;
        background-color: var(--primary-color);
    }
    
#menu-mobile ul li{
        text-align: center;
        width: 100%;
        padding: 1rem 0;
        border-top: 1px solid gray;
    }

/* Header styles */
#navbar {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .1s ease;
    z-index: 2;
}
#nav-name {
    font-size: 1rem;
}

#nav-menu {
display: none !important;
}

#hero{
    margin-top: 8vh;
    height: 90vh;
    width: 100vw;
    padding-top: 10rem;
}

#hero img{
    display: block;
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: auto;
}

#hero-title-name{
    font-size:2rem;
    margin-top: 1.2rem;
}

#hero-text{
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

.icons{
    font-size: .7rem;
    margin-top: 1rem;
}
/* Portfolio section */
#portfolio {
    max-height: 100vh;
    margin-bottom: 10rem;
}

#portfolio-grid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin:  auto;
}

#portfolio-grid img{
    max-width: 100%;
    border-radius: 10px;

}

.portfolio-card{
    cursor: pointer;
    position: relative;
}

.portfolio-card img{
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    font-size: 8rem;
    color: var(--primary-color-darker);
    transition: .5s ease;
    opacity: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.portfolio-card:hover img {
    opacity: 0.3;
  }
  
.portfolio-card:hover .middle {
    opacity: 1;
  }

/* About section */
#about {
    width: 100%;
    max-height: 100vh;
}

#about-text{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 70%;
    flex-direction: column;

}

#about-text p{ 
    text-align: center;
   width: 100%;
   font-size: 1.3rem;
}


/* Contact section */

#contact-form {
    width: 90%;
    margin: auto;
}

/* Footer section */
#footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 0;
}

.footer-section {
    width: 90%;

}

.footer-section{
    margin-top: 1.2rem;
}

main section h2 {
    font-size: 3.3rem !important;
    }
  }